* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    height: 100vh;
    background: black;
}

span {
    background: url("https://cdn4.iconfinder.com/data/icons/essentials-72/24/028_-_Heart-512.png");
    width: 100px;
    height: 100px;
    position: absolute;
    background-size: cover;
    pointer-events: none;
    left: 50%;
    top: 50%;
    /* transform: translate(-50%, -50%); */
    animation: animate 6s linear;
}

@keyframes animate {
    0% {
        transform: translate(-50%, -50%);
        opacity: 1;
    }

    100% {
        transform: translate(-50%, -5000%);
        opacity: 1;
    }

}